@use '../../ds-ponyo/src/lib/tokens/theming' as ponyo;

@include ponyo.theme();

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: var(--ponyo-font-family, system-ui, sans-serif);
  background: var(--ponyo-color-surface);
  color: var(--ponyo-color-text);
  line-height: 1.5;
}
